:root {
  --body-color: #0c0a09;
  --body-contrast: #fafaf9;
  /* FONTS */
  /* System Font Stack */
  --font-system--base: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans",
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-system--mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* Custom Fonts */
  --font-custom--base: "Red Hat Text Variable";
  --font-custom--head: "Red Hat Display Variable";
  --font-custom--mono: "Red Hat Mono Variable";

  /*
  1.067 – Minor Second
  1.125 – Major Second
  1.200 – Minor Third
  1.250 – Major Third
  1.333 – Perfect Fourth
  1.414 – Augmented Fourth
  1.500 – Perfect Fifth
  1.618 – Golden Ratio
  */
  --type-scale: 1.2;
  --font-size: 1rem;

  --line-height--base: 1.375;
  --line-height--head: 1.125;

  --corner-none: 0;
  --corner-2xs: 0.25rem;
  --corner-xs: 0.5rem;
  --corner-sm: 0.75rem;
  --corner-md: 1rem;
  --corner-lg: 1.25rem;
  --corner-xl: 1.5rem;
  --corner-2xl: 1.75rem;

  --transition-none: 0.001ms;
  --transition-2xs: 64ms;
  --transition-xs: 128ms;
  --transition-sm: 256ms;
  --transition-md: 512ms;
  --transition-lg: 768ms;
  --transition-xl: 1024ms;
  --transition-2xl: 1280ms;

  --in-duration: var(--transition-lg);
  --in-delay: var(--transition-none);
  --in-function: cubic-bezier(0.25, 1, 0.5, 1);

  --out-duration: var(--transition-md);
  --out-delay: var(--transition-none);
  --out-function: cubic-bezier(0.5, 0, 0.75, 0);
}

:is(*, *::before, *::after):not(html, body, head, style, script) {
  box-sizing: border-box;
}

:is(html, body, #root) {
  min-block-size: 100vh;
  max-inline-size: 100vw;
}

html {
  display: grid;
}

body {
  font-size: var(--font-size);
  font-family: var(--font-custom--base), var(--font-system--base);
  line-height: var(--line-height-base);
  margin: unset;
  -webkit-text-size-adjust: 100%;
}

img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

#root {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

:is(h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6) {
  font-family: var(--font-custom--head), var(--font-system--base);
  font-weight: bolder;
  line-height: var(--line-height--head);
  margin-block-start: unset;
  margin-block-end: 0.5rem;
}
:is(h1, .h1) {
  font-size: calc(
    var(--font-size) * var(--type-scale) * var(--type-scale) * var(--type-scale) * var(--type-scale) * var(--type-scale)
  );
}
:is(h2, .h2) {
  font-size: calc(var(--font-size) * var(--type-scale) * var(--type-scale) * var(--type-scale) * var(--type-scale));
}
:is(h3, .h3) {
  font-size: calc(var(--font-size) * var(--type-scale) * var(--type-scale) * var(--type-scale));
}
:is(h4, .h4) {
  font-size: calc(var(--font-size) * var(--type-scale) * var(--type-scale));
}
:is(h5, .h5) {
  font-size: calc(var(--font-size) * var(--type-scale));
}
:is(h6, .h6) {
  font-size: var(--font-size);
}
:is(small, .small) {
  font-size: calc(var(--font-size) / var(--type-scale));
}
:is(
    p,
    a,
    span,
    li,
    dd,
    dt,
    blockquote,
    pre,
    cite,
    abbr,
    address,
    time,
    figcaption,
    mark,
    b,
    strong,
    i,
    em,
    u,
    ins,
    del,
    s,
    small,
    sub,
    sup,
    code,
    var,
    samp,
    kbd,
    button,
    label,
    legend,
    output
  ) {
  font-size: var(--font-size);
  margin-block: unset;
}

._flush > *:first-child {
  margin-block-start: unset;
}
._flush > *:last-child {
  margin-block-end: unset;
}
