:root {
  --font-family--base: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans",
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family--mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  --custom-font--base: "Red Hat Text Variable";
  --custom-font--head: "Red Hat Display Variable";
  --custom-font--mono: "Red Hat Mono Variable";

  --border-radius--2xs: 0.25rem;
  --border-radius--xs: 0.5rem;
  --border-radius--sm: 0.75rem;
  --border-radius--md: 1rem;
  --border-radius--lg: 1.25rem;
  --border-radius--xl: 1.5rem;
  --border-radius--2xl: 1.75rem;

  --card-border-color: white;
  --card-border-width: 1em;
  --card-border-radius: var(--border-radius--2xl);
  --card-border-radius-inner: var(--border-radius--sm);
}

:is(*, *::before, *::after):not(html, body, head, style, script) {
  box-sizing: border-box;
}

:where(html, body) {
  min-height: 100%;
}

body {
  font-size: 1rem;
  font-family: var(--custom-font--base), var(--font-family--base);
  font-weight: 300;
  line-height: 1.375;
  margin: unset;
  -webkit-text-size-adjust: 100%;
}

:where(h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6) {
  font-family: var(--custom-font--head), var(--font-family--base);
}
